extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thread
                    tr
                        th Movie name
                        th director
                        th country
                        th movie on time
                        th post time
                        th look at
                        th update
                        th delete
                    tbody
                        each item in movies
                        tr(class="item-id-#{item._id}")
                            td #{item.title}
                            td #{item.director}
                            td #{item.country}
                            td #{item.movieontime}
                            td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
                            td: a(target="_blank", href="../movie/#{item._id}") look at
                            td: a(target="_blank", href="../admin/update/#{item._id}") update
                            td
                                button.btn.btn-danger.del(type="button", data-id="#{item._id}") delete
                                    (target="_blank", href="../admin/update/#{item._id}") delete
